@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: rgb(218, 137, 212);
    justify-content: center;
    align-items: center;
}

logo{
    flex: 20%;
    text-align: center;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: rgb(41, 19, 138);
    margin: 10px 30px 30px 60px;
    padding: 15px;
    text-align: center;
}

.menu{
    flex: 60%;
    text-align: right;
    margin: 10px 30px 30px 10px;
}

.menu a {
    color: rgb(41, 19, 138);
    text-decoration: none;
    font-size: 15px;
    padding: 20px 10px;
}

.menu a:hover{
    background-color: rgb(113, 64, 202);
    padding: 10px 15px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

#botão {
    color: white;
    background-color: blueviolet;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 10px;
}

.header{
    display: flex;
    flex-flow: wrap;
    height: auto;
    width: 100%;
    background-color: rgba(206, 168, 219, 0.726);
    color: rgb(41, 19, 138);
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.headline {
    margin-left: 5%;
    flex: 30%;
}

#title {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 10px;
    padding: 0;
    margin: 0;
}

#subtitle {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.headline-img {
    flex: 10%;
    display: block;
    float: right;
    max-width: 90%;
    text-align: center;
}

section {
    display: inline-block;
    height: auto;
    padding: 30px 10%;
    text-align: center;
    background-image: linear-gradient(180deg, rgb(170, 127, 182), rgb(196, 130, 192), rgb(238, 196, 234));
}

section h2 {
    width: 100%;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    font-weight: bold;
    letter-spacing: 5px;
    color: rgb(41, 19, 138);
}

.serv{
    display: inline-block;
    margin-top: 3%;
    color: rgb(41, 19, 138);
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid rgb(48, 48, 112);
    border-radius: 5px;
}

.card:hover {
    background: rgb(98, 75, 202);
    color: white;
}

footer {
    height: 150px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgb(236, 234, 245);
    border-top: 5px solid rgb(250, 126, 240);
    background-image: linear-gradient(180deg, rgb(131, 79, 145), rgb(151, 76, 147), rgb(238, 178, 233));
}

.redes {
    display: inline-block;
}

#instagram {
    border-radius: 30%;
    opacity: 0.7;
}

#facebook {
    border-radius: 30%;
    opacity: 0.7;
}

#whatsapp {
    border-radius: 30%;
    opacity: 0.7;
}

#instagram:hover {
    cursor: pointer;
    opacity: 1;
}

#facebook:hover {
    cursor: pointer;
    opacity: 1;
}

#whatsapp:hover {
    cursor: pointer;
    opacity: 1;
}